# By default ignore all the folders and add the relevant ones
*

# Requirements
!requirements-linting.txt
!requirements.txt

# Configuration to run lint job
!.pre-commit-config.yaml

# To install emmo as a package
!pyproject.toml

# Source code
!src/
