# Path to the json file with the credentials for GCP
GOOGLE_APPLICATION_CREDENTIALS=.credentials/biontech-tcr-16ca4aceba4c.json
# Local cache directory used by cloudpathlib for remote files
CLOUDPATHLIB_LOCAL_CACHE_DIR=.cache/cloudpathlib/
