# Project specific
data/
models/
!emmo/models/
validation/local
*.csv
.cache/
.credentials/
.env
*.DS_Store

# Test
.coverage

# Python
__pycache__/
.idea/
*~
*.egg-info/
build/
dist/
wheels/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject
